@import "grid";
@import "variables";

*{
  box-sizing: border-box;

}
html ,body{
  ::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

.look{
  display: none !important;
}
}
.container{
  width: 100%; 
  height: 100vh;
}
.pot{
    bottom:15%;
    position:absolute;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}
@-webkit-keyframes run {
    0% { left: 0;}
    50%{ left : 100%;}
    100%{ left: 0;}
}
.arrow_2_left{
  @include arrow(right);
  position: relative;
  bottom:60vh;
}
.arrow_2_right{
  @include arrow(left);
  position: relative;
  bottom:70vh;
  left: 90vw;
}
.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}

.arrow_2_left{
  @include arrow(right);
}
.arrow_2_right{
  @include arrow(left);
}


//SLIDE 1//
  //max width 500px start
@media (max-width:500px) {

#slide_1{
    background-image: url('../images/compass.jpg');
    background-size: cover;
    background-position: -300px;
  }
.navbar{
  .li_main_menu{
    display: none;
  }
  .menu-burger{
    width: 100%;
    img{
      height: 50px;
      margin-left: 28px;
    }
  }
  .mobile_menu{
    // max-width: 100px;
    float: left;
    position: absolute;
  }
  .li_mobile_menu{
    float: left;
    padding: 5px 10px 5px 10px;
    min-height: 70px;
    width: 100vw;
    background: rgba(76, 83, 89, 0.8);
    a{
      display: flex;
      justify-content: space-between;
      color:#95a5a6;
      text-decoration: none;
      border-bottom: 1px solid  #95a5a6;
    }
    p{
      font-size: 1em;
      align-self: center;

    }
  }
}
.main_text{
  text-align: center;
  color: #bdc3c7;
  h1{
    font-size: 2.5em;
    min-height: 100px;
    padding-top: 50px;

  }
  p{
    margin-top: 150px;
    font-size: 2em;
  }
  .arrow_1{
    @include arrow(top);
    left: 43%;
    bottom: 10px;
    position: absolute;
  }
}
#slide_2{
  height: 100vh;
  width: 100%;
  background-image: url("../images/jerry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .arrow_2_top{
    @include arrow(bottom);
    left: 42%;
    position: relative;
  }
  h2{
    font-size: 2em;
    text-align: center;
    color: #95a5a6;
    margin-top: 10px;
  }
  p{
    font-size: 0.8em;
  }
  .play_furry{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    i{
      color: blue;
      font-size: 3em;
      margin-top: 30px;
      &:hover{
        color: #bdc3c7;
      }
    }
  }
  .furry_list{
    p{
      text-align: center;
      font-size: 1.2em;
      line-height: 1.5em;
      color: #95a5a6;
      top: 200px;
      position: relative;


  }
}
.arrows_slide_2{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;

}
.arrow_2_down{
  @include arrow(top);
  left: 42%;
  position: relative;
  margin-top: 140px;

}

}
.look_menu_mobile{
  display: none;
}
.color{
  width: 100%;
}
// SLIDE 3 start

#slide_3{
  background-image: url("../images/cup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .arrow_3_top{
    @include arrow(bottom);
    left: 43%;
    position: relative;
    border-bottom: 30px solid #f1c40f ;
  }

  .col-12{
    display: flex;
    justify-content: center;
    h2{
      font-size: 2em;
    }
    .arrow_3_down{
        @include arrow(top);
        border-top: 30px solid #f1c40f ;
        margin-top: 100px;
    }
  }
  .row{
    display: flex;
    flex-direction: row;

    .col-2{
      float: left;
      margin-top: 20px;
      min-width: 100px;
    }
  }

  img{
    height: 80px;
  }
}
////alkochinczyk start
#slide_22{
  background-image: url("../images/sky.jpg");
  background-position: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  section#score {
    width: 100%;
  }
  #board {
    width: 79%;
    height: 320px;
    margin: 10px auto;
    background-image: url("../images/road.jpg");
    background-size: cover;
    strong{
      color: orange;
      writing-mode: vertical-lr;
    }
    .field-1,.field-2,.field-3,.field-4,.field-5,.field-5,.field-6,.field-7,.field-8,.field-9,.field-27,.field-28,.field-29,.field-30,.field-31,.field-32,.field-33{
      border-bottom: 6px solid black;
    }
    .field-11,.field-12,.field-13,.field-35{
      border-left: 6px solid black;
    }
    .field-15,.field-16,.field-17,.field-18,.field-19,.field-20,.field-21,.field-22,.field-37,.field-38,.field-39,.field-40,.field-41,.field-42{
      border-top: 6px solid black;
    }
    .field-24,.field-25{
      border-right: 6px solid black;
    }
  }

  #board  > div {
    border: 1px solid black;
    float: left;
    width: 10%;
    height: 64px;
    font-size: 10px;
  }
  section#score div {
    width: auto;
    height: 74px;
    text-align: center;
    padding: 0.5em;
    background-color: rgba(211,211,211, 0.75);
    border: 1px solid lightgray;
    border-radius: 1px;
    box-shadow: 1px 1px 5px 1px lightgray;
    margin: 1em auto;
  }
  .cube_result{
    position: absolute;
    bottom: 10px;
    left: 160px;
    display: flex;
    justify-content: center;

  }
  .cube{
    width: 75px;
    height: 75px;
    background-position: -83px -83px;
    background-image: url("../images/cube.png");
    margin: auto;
  }
  #score{
    font-family: 'Indie Flower', cursive;
  }
  .btn_thru{
    width: 100px;
    height: 50px;
    border-radius: 14%;
    display: none;
    position: relative;
    margin: auto;
  }
  .btn_thru3{
    width: 100px;
    height: 50px;
    border-radius: 14%;
    display: none;
    position: relative;
    margin: auto;
  }
  section#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.75);
  }
  section#over pre {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: brown;
  }
  .invisible {
    display: none;
  }
  .task{
    font-weight: 700;
    font-size: 16px;
  }
  .How_many_players{
    display: block;
  }
  .How_many_players p{
    display: inline-block;
    list-style: none;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    a{
      text-decoration: none;
    }
  }
  .again_chine{
    display: none;
  }
  .visible{
    display: block;
    position: absolute;
    left: 20%;
    z-index: 999;
    width: 250px;
    height: 250px;
    top: 150px;
    background-image: url("../images/replay_button.png");
  }
  .mix12{
    background: #6968d8 !important; /* Old browsers */
  background: -moz-linear-gradient(top, #6968d8 21%, #ff1115 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6968d8 21%,#ff1115 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6968d8 21%,#ff1115 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6968d8', endColorstr='#ff1115',GradientType=0 ) !important; /* IE6-9 */
    z-index: 100;
  }
  .mix13{
    background: #7cce65 !important; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7cce65 44%, #ff1115 84%, #ff1115 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7cce65 44%,#ff1115 84%,#ff1115 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7cce65 44%,#ff1115 84%,#ff1115 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#ff1115',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }
  .mix23{
    background: #7cce65 !important; /* Old browsers */
    background: -moz-linear-gradient(left, #7cce65 44%, #2811f7 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7cce65 44%,#2811f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7cce65 44%,#2811f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#2811f7',GradientType=1 ) !important; /* IE6-9 */

  }
  .mix123{
    background: #7cce65 !important; /* Old browsers */
  background: -moz-linear-gradient(left, #7cce65 18%, #ed1014 55%, #2811f7 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7cce65 18%,#ed1014 55%,#2811f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7cce65 18%,#ed1014 55%,#2811f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#2811f7',GradientType=1 ) !important; /* IE6-9 */
    }
}//slide22_end

#slide_21{
  background-image: url("../images/bar1.png");
  background-repeat: no-repeat;
  background-size: cover;

  .banner_beer{
    width: 50%;
    left: 25%;
    text-align: center;
    top: 20px;
    font-size: 2em;
    position: relative;
    border-radius: 7%;
    background-size: contain;
    box-shadow: 0px 0px 40px 20px #34495e;
    color: #f1c40f;
    font-weight: 700;
    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.gif{
  height: 265px;
  width: 320px;
  background-image: url("../images/drink_beer.jpg");
  position: absolute;
  top: 200px;
  left: 12%;
  background-position: -8400px 0;
  box-shadow: 0px 0px 40px 40px #34495e;
  -webkit-filter: blur(1px);
-moz-filter: blur(1px);
-o-filter: blur(1px);
-ms-filter: blur(1px);
filter: blur(1px);
}
.btn_beer{
  background-image: url("../images/200w.gif");
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  background-size: cover;
  top: 465px;
  left: 60%;
}
.btn_start{
  background-image: url("../images/bar_btn.png");
  position: relative;
  z-index: 20;
  width: 100px;
  height: 100px;
  background-size: cover;
  top: 415px;
  left: 60%;
  i{
    color: #f1c40f;
    font-size: 6em;
  }
}
.play_again{
  position: absolute;
  left: 30%;
  width: 158px;
  height: 77px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 78vh;
  font-size: 2em;
  background-image: url("../images/again.png");
  z-index: 10;
}
.win{
  font-family: 'Barrio', cursive;
  color: #e74c3c;
  background-color: black;
  border-radius: 6%;
  background-position: 100px;
  position: absolute;
  left: 20%;
  width: 60%;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  top:20px;
}
}//slide21_end


// SLIDE PAGES START

#slide_pages{
  background-image: url('../images/pages-back2.jpg');
  background-size: cover;
  height: auto;
  .arrow_pages_top{
    position: relative;
    @include arrow(bottom);
    left: 47%;
    border-bottom: 30px solid #f1c40f ;
  }
  h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Barrio', cursive;
  }
  .col-12{
    position: relative;
    height: 70px;
     display: flex;
    justify-content: center;

  }
  .col-2{
    display: none;
  }
  .arrow_pages_down{
    @include arrow(top);
    position: absolute ;
    border-top: 30px solid #f1c40f ;
    margin-bottom: 30px;
  }
  .col-4{
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    border: 1px solid black;
    margin-top: 10px;
    .img-page{
      height: 200px;     
      width: 80%;
    }
    .pushbin{
      width: 30px;
      height: 30px;
      float: left; 
    }
    .pushbin2{
      width: 30px;
      height: 30px;
      float: right; 
    }
    p{
      color: rgba(255,255,255,0.6);
      font-weight: 600;
      font-family: 'Josefin Sans', sans-serif;
    }
    a{
      color: orange;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      &:hover{
        font-weight: bold;
      }
    }
  }
}

  ////alkochinczyk stop
//slide 4
#slide_4{
  background-image: url("../images/msg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.3em;
  color:#2c3e50;
  .col-12{
    text-align: center;

  }
  .col-3{
    margin-top:5px;
    i{
      font-size: 3em;
    }
  }
  .arrow_4_top{
    @include arrow(bottom);
    border-bottom: 30px solid #2c3e50 ;
    margin: 0 auto;
  }



}
}  //max width 500px stop

@media (min-width:501px)  and (max-width: 980px) {
//min width 501 start
#slide_1{
  background-position: left;
  background-image: url('../images/compass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  .mobile_menu{
    display: none;
  }
  .menu-burger{
    display: none;
  }
  ul.grow_menu{
    display: inline-block;
    display: flex;
    justify-content: center;
    .li_main_menu{
      float: left;
      margin-left: 30px;
      min-height: 100px;
      a{
        color:#95a5a6;
        &:hover{
          color:#2c3e50;
        }
      }
    }
    .fa{
      background-color: #2c3e50;
      border-radius: 50%;
      padding: 10px ;
      margin-top: 10px;
      border: 3px solid #95a5a6;
      transition: transform .9s ease-in-out;
      &:hover{
        background: #95a5a6;
        border: 3px solid #2c3e50;
        transform: rotate(360deg);
      }
    }
  }
}
.main_text{
  text-align: center;
  color: #bdc3c7;
  h1{
    font-size: 3em;
    min-height: 100px;
    padding-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
  }
  p{
    margin-top: 50px;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  .arrow_1{
    @include arrow(top);
    left: 47%;
    bottom: 10px;
    position: absolute;
  }
}
//SLIDE 1 KONIEC//
//SLIDE 2 POCZATE//
#slide_2{
  height: 100vh;
  width: 100%;
  background-image: url("../images/jerry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .arrow_2_top{
    @include arrow(bottom);
    left: 47%;
    position: relative;
  }
  h2{
    font-size: 2em;
    text-align: center;
    color: #95a5a6;
    margin-top: 10px;
  }
  p{
    font-size: 0.8em;
  }
  .play_furry{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 100px;
    left: 250px;

    i{
      color: #f1c40f;
      font-size: 3em;
      &:hover{
        color: #bdc3c7;
      }
    }
  }
  .furry_list{
    p{
      text-align: center;
      font-size: 1.2em;
      line-height: 1.5em;
      color: #95a5a6;
      top: 180px;
      position: relative;
  }
}
.arrows_slide_2{
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.arrow_2_down{
  @include arrow(top);
  left: 46%;
  margin: auto;
  margin-top: 30px;
}
}

#slide_22{
  background-image: url("../images/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  section#score {
    width: 100%;
  }

  #board {
    width: 79%;
    height: 300px;
    margin: 10px auto;
    background-image: url("../images/road.jpg");
    background-size: cover;
    .field-1,.field-2,.field-3,.field-4,.field-5,.field-5,.field-6,.field-7,.field-8,.field-9,.field-27,.field-28,.field-29,.field-30,.field-31,.field-32,.field-33{
      border-bottom: 6px solid black;
    }
    .field-11,.field-12,.field-13,.field-35{
      border-left: 6px solid black;
    }
    .field-15,.field-16,.field-17,.field-18,.field-19,.field-20,.field-21,.field-22,.field-37,.field-38,.field-39,.field-40,.field-41,.field-42{
      border-top: 6px solid black;
    }
    .field-24,.field-25{
      border-right: 6px solid black;
    }

  }
  #board  > div {
    border: 1px solid black;
    float: left;
    width: 10%;
    height: 60px;
    font-size: 10px;
  }
  section#score div {
    width: auto;
    height: 5em;
    text-align: center;
    padding: 0.5em;
    background-color: rgba(211,211,211, 0.75);
    border: 1px solid lightgray;
    border-radius: 1px;
    box-shadow: 1px 1px 5px 1px lightgray;
    margin: 1em auto;
  }
  .cube_result{
    position: absolute;
    bottom: 5%;
    right: 160px;
    display: flex;
    justify-content: center;

  }
  .cube{
    width: 75px;
    height: 75px;
    background-position: -83px -83px;
    background-image: url("../images/cube.png");
    margin-right: 10px;
  }
  #score{
    font-family: 'Indie Flower', cursive;
  }
  .btn_thru{
    width: 100px;
    height: 50px;
    border-radius: 14%;
    display: none;
    position: relative;
    margin: auto;
  }
  .btn_thru3{
    width: 100px;
    height: 50px;
    border-radius: 14%;
    display: none;
    position: relative;
    margin: auto;
  }
  section#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.75);
  }

  section#over pre {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: brown;
  }
  .invisible {
    display: none;
  }
  .task{

    font-weight: 700;
    font-size: 20px;
  }


  .How_many_players{
    display: block;
  }
  .How_many_players p{
    display: inline-block;
    list-style: none;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    a{
      text-decoration: none;
    }
  }
  .again_chine{
    display: none;
  }
  .visible{
    display: block;
    position: absolute;
    left: 40%;
    z-index: 999;
    width: 250px;
    height: 250px;
    top: 150px;
    background-image: url("../images/replay_button.png");
  }

  .mix12{
    background: #6968d8 !important; /* Old browsers */
  background: -moz-linear-gradient(top, #6968d8 21%, #ff1115 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6968d8 21%,#ff1115 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6968d8 21%,#ff1115 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6968d8', endColorstr='#ff1115',GradientType=0 ) !important; /* IE6-9 */
    z-index: 100;
  }
  .mix13{
    background: #7cce65 !important; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7cce65 44%, #ff1115 84%, #ff1115 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7cce65 44%,#ff1115 84%,#ff1115 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7cce65 44%,#ff1115 84%,#ff1115 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#ff1115',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }
  .mix23{
    background: #7cce65 !important; /* Old browsers */
    background: -moz-linear-gradient(left, #7cce65 44%, #2811f7 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7cce65 44%,#2811f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7cce65 44%,#2811f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#2811f7',GradientType=1 ) !important; /* IE6-9 */

  }
  .mix123{
    background: #7cce65 !important; /* Old browsers */
  background: -moz-linear-gradient(left, #7cce65 18%, #ed1014 55%, #2811f7 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7cce65 18%,#ed1014 55%,#2811f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7cce65 18%,#ed1014 55%,#2811f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#2811f7',GradientType=1 ) !important; /* IE6-9 */
    }
  }//koniec slide22

  #slide_21{
    background-image: url("../images/bar1.png");
    background-repeat: no-repeat;
    background-size: cover;

    .banner_beer{
      width: 50%;
      left: 25%;
      text-align: center;
      top: 20px;
      font-size: 2em;
      position: relative;
      border-radius: 7%;
      background-size: contain;
      box-shadow: 0px 0px 40px 20px #34495e;
      color: #f1c40f;
      font-weight: 700;
      -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  .gif{
    height: 265px;
    width: 320px;
    background-image: url("../images/drink_beer.jpg");
    position: absolute;
    top: 100px;
    left: 29%;
    background-position: -8400px 0;
    box-shadow: 0px 0px 40px 40px #34495e;
    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  }
  .btn_beer{
    background-image: url("../images/200w.gif");
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    background-size: cover;
    top: 405px;
    left: 60%;
  }
  .btn_start{
    background-image: url("../images/bar_btn.png");
    position: relative;
    z-index: 20;
    width: 100px;
    height: 100px;
    background-size: cover;
    top: 340px;
    left: 60%;
    i{
      color: #f1c40f;
      font-size: 6em;
    }
  }
  .play_again{
    position: absolute;
    left: 20%;
    width: 158px;
    height: 77px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 78vh;
    font-size: 2em;
    background-image: url("../images/again.png");
    z-index: 10;
  }
  .win{
    font-family: 'Barrio', cursive;
    color: #e74c3c;
    background-color: black;
    border-radius: 6%;
    background-position: 100px;
    position: absolute;
    left: 20%;
    width: 60%;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    top:20px;
  }
  }//slide21_end





// SLIDE PAGES START

#slide_pages{
  background-image: url('../images/pages-back2.jpg');
  background-size: cover;
  height: auto;
  .arrow_pages_top{
    position: relative;
    @include arrow(bottom);
    left: 47%;
    border-bottom: 30px solid #f1c40f ;
  }
  h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Barrio', cursive;
  }
  .col-12{
    position: relative;
    height: 70px;
     display: flex;
    justify-content: center;

  }
  .col-2,.col-1{
    display: none;
  }
  .arrow_pages_down{
    @include arrow(top);
    position: absolute ;
    border-top: 30px solid #f1c40f ;
    margin-bottom: 30px;
  }
  .col-4{
    width: 50%;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    border: 1px solid black;
    margin-top: 10px;
    .img-page{
      height: 200px;     
      width: 80%;
    }
    .pushbin{
      width: 30px;
      height: 30px;
      float: left; 
    }
    .pushbin2{
      width: 30px;
      height: 30px;
      float: right; 
    }
    p{
      color: rgba(255,255,255,0.6);
      font-weight: 600;
      font-family: 'Josefin Sans', sans-serif;
    }
    a{
      color: orange;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      &:hover{
        font-weight: bold;
      }
    }
  }
}

//slide 3 start

#slide_3{
  background-image: url("../images/cup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .row{
    display: flex;
    justify-content: space-around;
  }
  .arrow_3_top{
    @include arrow(bottom);
    border-bottom: 30px solid #f1c40f ;
  }

  .col-12{
    display: flex;
    justify-content: center;
    h2{
      font-size: 2em;
    }
    .arrow_3_down{
        @include arrow(top);
        border-top: 30px solid #f1c40f ;
        margin-top: 30px;
    }
  }
  .col-3{
    width: 50px;
  }
  .col-2{
    display: flex;
    justify-content: center;

  }
  img{
    height: 120px;
  }
}
#slide_4{
  background-image: url("../images/msg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.3em;
  color:#2c3e50;
  .col-12{
    text-align: center;

  }
  .col-3{
    margin-top: 50px;
    height: 100px;
    i{
      font-size: 3em;
    }
  }
  .arrow_4_top{
    @include arrow(bottom);
    border-bottom: 30px solid #2c3e50 ;
    margin: 0 auto;
  }



}
}//min width 500 stop

@media (min-width:981px){
  #slide_1{
    background-image: url('../images/compass.jpg');
    background-size: cover;
  }
  .fix{
    height: 20px;
    width: 20px;
    position: fixed;
    color: #fff;
    right: 40px;
    top: 30px;
  }
  .navbar{
    .mobile_menu{
      display: none;
    }
    .menu-burger{
      display: none;
    }
    ul.grow_menu{
      display: inline-block;
      display: flex;
      justify-content: center;
      .li_main_menu{
        float: left;
        margin-left: 30px;
        min-height: 100px;
        a{
          color:#95a5a6;
          &:hover{
            color:#2c3e50;
          }
        }
      }
      .fa{
        background-color: #2c3e50;
        border-radius: 50%;
        padding: 10px ;
        margin-top: 10px;
        border: 3px solid #95a5a6;
        transition: transform .9s ease-in-out;
        &:hover{
          background: #95a5a6;
          border: 3px solid #2c3e50;
          transform: rotate(360deg);
        }
      }
    }
  }
  .main_text{
    text-align: center;
    color: #bdc3c7;
    h1{
      font-size: 3em;
      min-height: 100px;
      padding-top: 50px;
      font-family: 'Josefin Sans', sans-serif;
    }
    p{
      margin-top: 50px;
      font-size: 2em;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
    }
    .arrow_1{
      @include arrow(top);
      left: 47%;
      bottom: 10px;
      position: absolute;
    }
  }
  //SLIDE 1 KONIEC//
.slider_main{
  #slide_2{
    height: 100%;
    width: 100%;
    background-image: url("../images/jerry.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    .arrow_2_top{
      @include arrow(bottom);
      left: 47%;
      position: relative;
    }
    h2{
      font-size: 2em;
      text-align: center;
      color: #95a5a6;
      margin-top: 10px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
    }
    p{
      font-size: 0.8em;
    }
    .furry{
      display: flex;
      justify-content: space-around;

    .play_furry{
      display: inline;
      bottom: 80px;
      left: -100px;

      i{
        color: #f1c40f;
        font-size: 6em;
      }

    }
    .furry_list{
      p{
        width: 270px;
        text-align: center;
        font-size: 1.4em;
        line-height: 1.5em;
        color: #95a5a6;
        left: -70px;
        position: relative;
        top: -30px;
        font-family: 'Josefin Sans', sans-serif;
    }
  }
}
  .arrows_slide_2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

  }
  .arrow_2_down{
    @include arrow(top);
    left: 47%;
    position: relative;
    margin-top: 150px;
  }
}
}
#slide_22{
  background-image: url("../images/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  section#score {
    width: 100%;
  }

  #board {
    width: 740px;
    height: 370px;
    margin: 10px auto;
    background-image: url("../images/road.jpg");
    .field-1,.field-2,.field-3,.field-4,.field-5,.field-5,.field-6,.field-7,.field-8,.field-9,.field-27,.field-28,.field-29,.field-30,.field-31,.field-32,.field-33{
      border-bottom: 6px solid black;
    }
    .field-11,.field-12,.field-13,.field-35{
      border-left: 6px solid black;
    }
    .field-15,.field-16,.field-17,.field-18,.field-19,.field-20,.field-21,.field-22,.field-37,.field-38,.field-39,.field-40,.field-41,.field-42{
      border-top: 6px solid black;
    }
    .field-24,.field-25{
      border-right: 6px solid black;
    }

  }

  #board  > div {
    border: 1px solid black;
    float: left;
    width: 74px;
    height: 74px;
    font-size: 10px;
  }


  section#score div {
    width: auto;
    height: 5em;
    text-align: center;
    padding: 0.5em;
    background-color: rgba(211,211,211, 0.75);
    border: 1px solid lightgray;
    border-radius: 1px;
    box-shadow: 1px 1px 5px 1px lightgray;
    margin: 1em auto;
  }

  .cube_result{
    position: absolute;
    bottom: 140px;
    left: 160px;

  }

  .cube{
    width: 75px;
    height: 75px;
    background-position: -83px -83px;
    background-image: url("../images/cube.png");
    margin: auto;
  }
  #score{
    font-family: 'Indie Flower', cursive;
  }
  .btn_thru{
    width: 100px;
    height: 50px;
    border-radius: 14%;
    display: none;
    position: relative;
    margin: auto;
  }
  .btn_thru3{
    width: 100px;
    height: 50px;
    border-radius: 14%;
    display: none;
    position: relative;
    margin: auto;
  }
  section#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.75);
  }

  section#over pre {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: brown;
  }

  .invisible {
    display: none;
  }
  .task{

    font-weight: 700;
    font-size: 20px;
  }


  .How_many_players{
    display: block;
  }
  .How_many_players p{
    display: inline-block;
    list-style: none;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    a{
      text-decoration: none;

    }


  }

  .again_chine{
    display: none;
  }
  .visible{
    display: block;
    position: absolute;
    left: 40%;
    z-index: 999;
    width: 250px;
    height: 250px;
    top: 150px;
    background-image: url("../images/replay_button.png");
  }

  .mix12{
    background: #6968d8 !important; /* Old browsers */
  background: -moz-linear-gradient(top, #6968d8 21%, #ff1115 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6968d8 21%,#ff1115 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6968d8 21%,#ff1115 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6968d8', endColorstr='#ff1115',GradientType=0 ) !important; /* IE6-9 */
    z-index: 100;
  }
  .mix13{
    background: #7cce65 !important; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7cce65 44%, #ff1115 84%, #ff1115 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7cce65 44%,#ff1115 84%,#ff1115 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7cce65 44%,#ff1115 84%,#ff1115 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#ff1115',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }
  .mix23{
    background: #7cce65 !important; /* Old browsers */
    background: -moz-linear-gradient(left, #7cce65 44%, #2811f7 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7cce65 44%,#2811f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7cce65 44%,#2811f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#2811f7',GradientType=1 ) !important; /* IE6-9 */

  }
  .mix123{
    background: #7cce65 !important; /* Old browsers */
  background: -moz-linear-gradient(left, #7cce65 18%, #ed1014 55%, #2811f7 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7cce65 18%,#ed1014 55%,#2811f7 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7cce65 18%,#ed1014 55%,#2811f7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cce65', endColorstr='#2811f7',GradientType=1 ) !important; /* IE6-9 */
    }

}
#slide_21{
  background-image: url("../images/bar1.png");
  background-repeat: no-repeat;
  background-size: cover;
  .banner_beer{
    width: 30%;
    left: 35%;
    text-align: center;
    top: 20px;
    font-size: 2em;
    position: relative;
    border-radius: 7%;
    background-size: contain;
    box-shadow: 0px 0px 40px 20px #34495e;
    color: #f1c40f;
    font-weight: 700;
    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  }
  .gif{
    height: 265px;
    width: 320px;
    background-image: url("../images/drink_beer.jpg");
    position: absolute;
    top: 200px;
    left: 500px;
    background-position: -8400px 0;
    box-shadow: 0px 0px 40px 40px #34495e;
    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  }
  .btn_beer{
    background-image: url("../images/200w.gif");
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    background-size: cover;
    top: 455px;
    left: 800px;
  }
  .btn_start{
    background-image: url("../images/bar_btn.png");
    position: relative;
    z-index: 20;
    width: 100px;
    height: 100px;
    background-size: cover;
    top: 415px;
    left: 800px;
    i{
      color: #f1c40f;
      font-size: 6em;
    }
  }
  .play_again{
    position: absolute;
    left:20%;
    width: 158px;
    height: 77px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 70vh;
    font-size: 2em;
    background-image: url("../images/again.png");
    z-index: 10;
  }
  .win{
    font-family: 'Barrio', cursive;
    color: #e74c3c;
    background-color: black;
    border-radius: 6%;
    background-position: 100px;
    position: absolute;
    left: 30%;
    width: 40%;
    font-size: 3em;
    display: inline-block;
    text-align: center;
    top:20px;
  }
}

// SLIDE PAGES START

#slide_pages{
  background-image: url('../images/pages-back2.jpg');
  background-size: cover;
  height: auto;
  .arrow_pages_top{
    position: relative;
    @include arrow(bottom);
    left: 47%;
    border-bottom: 30px solid #f1c40f ;
  }
  h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Barrio', cursive;
  }
  .col-12{
    position: relative;
    height: 70px;
     display: flex;
    justify-content: center;

  }
  .arrow_pages_down{
    @include arrow(top);
    position: absolute ;
    border-top: 30px solid #f1c40f ;
    margin-bottom: 30px;
  }
  .col-4{
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    border: 1px solid black;
    margin-top: 10px;
    .img-page{
      height: 200px;     
      width: 80%;
    }
    .pushbin{
      width: 30px;
      height: 30px;
      float: left; 
    }
    .pushbin2{
      width: 30px;
      height: 30px;
      float: right; 
    }
    p{
      color: rgba(255,255,255,0.6);
      font-weight: 600;
      font-family: 'Josefin Sans', sans-serif;
    }
    a{
      color: orange;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      &:hover{
        font-weight: bold;
      }
    }
  }
}



// SLIDE PAGES START

#slide_pages{
  background-image: url('../images/pages-back2.jpg');
  background-size: cover;
  height: auto;
  .arrow_pages_top{
    position: relative;
    @include arrow(bottom);
    left: 47%;
    border-bottom: 30px solid #f1c40f ;
  }
  h2{
    text-align: center;  
    font-size: 30px;
    font-family: 'Barrio', cursive;
  }
  .col-12{
    position: relative;
    height: 70px;
     display: flex;
    justify-content: center;

  }
  .arrow_pages_down{
    @include arrow(top);
    position: absolute ;
    border-top: 30px solid #f1c40f ;
    margin-bottom: 30px;
  }
  .col-4{
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    box-shadow: -11px 18px 29px 5px rgba(0,0,0,0.75);
    border: 1px solid black;
    margin-top: 10px;
    .img-page{
      height: 200px;     
      width: 80%;
    }
    .pushbin{
      width: 30px;
      height: 30px;
      float: left; 
    }
    .pushbin2{
      width: 30px;
      height: 30px;
      float: right; 
    }
    p{
      color: rgba(255,255,255,0.6);
      font-weight: 600;
      font-family: 'Josefin Sans', sans-serif;
    }
    a{
      color: orange;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      &:hover{
        font-weight: bold;
      }
    }
  }
}

// SLIDE 3 start

#slide_3{
  background-image: url("../images/cup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .arrow_3_top{
    position: relative;
    @include arrow(bottom);
    left: 47%;
    border-bottom: 30px solid #f1c40f ;
  }

  .col-12{
    display: flex;
    justify-content: center;
    h2{
      font-size: 2em;
    }
    .arrow_3_down{
        @include arrow(top);
        border-top: 30px solid #f1c40f ;
        margin-bottom: 30px;

    }
  }

  .col-2{ 
    display: flex;
    justify-content: center;
  }
  img{
    height: 120px;
  }
}
// SLIDE 4 start
#slide_4{
  background-image: url("../images/msg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2em;
  color:#2c3e50;
  .col-12{
    text-align: center;

  }
  .col-3{
    margin-bottom: 50px;
    height: 100px;

    i{
      font-size: 3em;
    }
  }
  .arrow_4_top{
    @include arrow(bottom);
    border-bottom: 30px solid #2c3e50 ;
    margin: 0 auto;
  }



}



}//koniec min 981
